In [210]:
import numpy as np
import pandas as pd
import os
import requests
import matplotlib.pyplot as plt
import time
import seaborn as sns
import datetime
from datetime import date
from bs4 import BeautifulSoup as bs

## 1. Project Overview

The aim of the following analysis is to test out the old adage "you have to spend money to make money" within the film industry. As a self-anointed cinephile who spends much of his time either watching films after work or listening to film related podcasts during work, I've always been fascinated with the industry. Coming from a finance role/background, the financial side of film production has always fascinated me but I never had the tools to to obtain the sources of information required and to analyse it accordingly. 

This course has provided me with those missing tools and I will not let an opportunity pass to put this together both for purposes of this course and for my personal needs going forward.

My first task in this project is to build a population of films with accurate production costs, to do this I pulled a number of .csv files from Kaggle and reviewed them in Excel prior to loading them into Python. Once I had the population and the variable (Production Cost), I then considered what other variables would be best to compare the costs against.

Below are the other variables I aim to compare production costs against:
- Worldwide Gross Amounts:
    - Does spending more make more?
- IMDB User Ratings:
    - Does spending more increase audience enjoyment?
- Rotten Tomato Critic Scores:
    - Does spending more increase critical reception?

Using these three variables, I can expand on my analysis and see if there is a genuine correlation between production cost and the other variables along with other insights that will appear as I analyse.

## 2. Data Loading and Cleansing

The first step is to build up a population of films, I have sourced eight .csv files from Kaggle most of which provide a list of film titles, release dates/years, production costs and worldwide gross amounts. Only some of the files contain all of those variables so, I must build a Dataframes (DF) for production costs and worldwide grosses separately cleanse them removing duplicates and blanks before joining them as one. 

But first I should load the files:

## Loading the Film Production/Gross Files:

In [211]:
movie_filenames = os.listdir("C:/Users/New User/Documents/UCD/Assignment/assignment_files/csv_downloads/movie_data/") # lists the csv files in my folder

In [212]:
def extract_name_files(text): # this removes the .csv from the name the files in the folder
    name_file = text.strip('.csv').lower()
    return name_file

In [213]:
names_of_movie_files = list(map(extract_name_files,movie_filenames)) # creates the list that to be used to name the dataframes from the filenames

In [214]:
for i in range(0,len(names_of_movie_files)): # saves each csv in a dataframe structure
    exec(names_of_movie_files[i] + " =  pd.read_csv('C:/Users/New User/Documents/UCD/Assignment/assignment_files/csv_downloads/movie_data/'+movie_filenames[i])")

In [215]:
# I will then use the below to display the dataframes currently loaded:
%whos DataFrame

Variable                    Type         Data/Info
--------------------------------------------------
all_time_worldwide_bo       DataFrame         Rank  Year          <...>n\n[595 rows x 6 columns]
blockbuster                 DataFrame         release_year  rank_i<...>\n[430 rows x 13 columns]
blockbuster_PD              DataFrame         release_year        <...>n\n[430 rows x 4 columns]
file_names                  DataFrame                          fil<...>0         top_movies_data
imdb_movie_metadata         DataFrame          color      director<...>n[5043 rows x 28 columns]
imdb_top_1000               DataFrame                             <...>n[1000 rows x 16 columns]
movie_industry_dataset      DataFrame                             <...>n[7633 rows x 15 columns]
movie_industry_dataset_PD   DataFrame          release_year       <...>\n[7633 rows x 4 columns]
production_file_names       DataFrame                            f<...>       top_movies_data_PD
rotten_tomatoes_movie       DataFrame                            r<...>[17712 rows x 22 columns]
tgm_bo_summary              DataFrame         Rank                <...>\n[1000 rows x 5 columns]
tmdb_movie                  DataFrame             budget          <...>n[4803 rows x 20 columns]
tmdb_movie_PD               DataFrame          release_year releas<...>\n[4803 rows x 5 columns]
tmds_movies_metadata        DataFrame           adult             <...>[45444 rows x 24 columns]
tmds_movies_metadata_PD     DataFrame           release_year relea<...>n[45444 rows x 5 columns]
top_grossing_film           DataFrame             Release_Type    <...>\n[1000 rows x 7 columns]
top_movies_data             DataFrame         Release Date Movie T<...>\n[3900 rows x 5 columns]
top_movies_data_PD          DataFrame          release_year releas<...>\n[3900 rows x 4 columns]

## Loading the Film Rating Files:

Repeating the same steps as before but for the film rating files in a different folder, however this time I can reuse the extract_name_files(text) function defined earlier which means one less step:

In [216]:
rating_filenames = os.listdir("C:/Users/New User/Documents/UCD/Assignment/assignment_files/csv_downloads/rating_data/")

In [217]:
names_of_rating_files = list(map(extract_name_files,rating_filenames))

In [218]:
for i in range(0,len(names_of_rating_files)):
    exec(names_of_rating_files[i] + " =  pd.read_csv('C:/Users/New User/Documents/UCD/Assignment/assignment_files/csv_downloads/rating_data/'+rating_filenames[i])")

In [219]:
%whos DataFrame

Variable                    Type         Data/Info
--------------------------------------------------
all_time_worldwide_bo       DataFrame         Rank  Year          <...>n\n[595 rows x 6 columns]
blockbuster                 DataFrame         release_year  rank_i<...>\n[430 rows x 13 columns]
blockbuster_PD              DataFrame         release_year        <...>n\n[430 rows x 4 columns]
file_names                  DataFrame                          fil<...>0         top_movies_data
imdb_movie_metadata         DataFrame          color      director<...>n[5043 rows x 28 columns]
imdb_top_1000               DataFrame                             <...>n[1000 rows x 16 columns]
movie_industry_dataset      DataFrame                             <...>n[7633 rows x 15 columns]
movie_industry_dataset_PD   DataFrame          release_year       <...>\n[7633 rows x 4 columns]
production_file_names       DataFrame                            f<...>       top_movies_data_PD
rotten_tomatoes_movie       DataFrame                            r<...>[17712 rows x 22 columns]
tgm_bo_summary              DataFrame         Rank                <...>\n[1000 rows x 5 columns]
tmdb_movie                  DataFrame             budget          <...>n[4803 rows x 20 columns]
tmdb_movie_PD               DataFrame          release_year releas<...>\n[4803 rows x 5 columns]
tmds_movies_metadata        DataFrame           adult             <...>[45444 rows x 24 columns]
tmds_movies_metadata_PD     DataFrame           release_year relea<...>n[45444 rows x 5 columns]
top_grossing_film           DataFrame             Release_Type    <...>\n[1000 rows x 7 columns]
top_movies_data             DataFrame         Release Date Movie T<...>\n[3900 rows x 5 columns]
top_movies_data_PD          DataFrame          release_year releas<...>\n[3900 rows x 4 columns]

The number of files loaded as DataFrames has increased by the 3 rating files

To explore the contents of these DataFrames, I will create a new DataFrame and then use a loop to present the info of each of the loaded DataFrame

In [220]:
file_names = pd.DataFrame({'file': ['all_time_worldwide_bo','blockbuster','imdb_movie_metadata','imdb_top_1000','movie_industry_dataset',
                                    'rotten_tomatoes_movie','tgm_bo_summary','tmdb_movie','tmds_movies_metadata',
                                    'top_grossing_film','top_movies_data']})

In [221]:
for index, row in file_names.iterrows():
    print(row['file'])
    exec('print('+row['file']+'.info())')

all_time_worldwide_bo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     595 non-null    int64
 1   Year                     595 non-null    int64
 2   Movie                    595 non-null    object
 3   WorldwideBox Office      595 non-null    object
 4   DomesticBox Office       588 non-null    object
 5   InternationalBox Office  595 non-null    object
dtypes: int64(2), object(4)
memory usage: 28.0+ KB
None
blockbuster
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   release_year          430 non-null    int64
 1   rank_in_year          430 non-null    int64
 2   imdb_rating           430 non-null    float64
 3   mpaa_rating           429 non-null    object
 4   film_title            430 non-null    object
 5   film_budget           430 non-null    object
 6   length_in_min         430 non-null    int64
 7   domestic_distributor  430 non-null    object
 8   worldwide_gross       430 non-null    object
 9   domestic_gross        430 non-null    object
 10  genre_1               430 non-null    object
 11  genre_2               409 non-null    object
 12  genre_3               324 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 43.8+ KB
None
imdb_movie_metadata
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None
imdb_top_1000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   int64
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB
None
movie_industry_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7633 entries, 0 to 7632
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7633 non-null   object
 1   rating    7556 non-null   object
 2   genre     7633 non-null   object
 3   year      7633 non-null   int64
 4   released  7631 non-null   object
 5   score     7630 non-null   float64
 6   votes     7630 non-null   float64
 7   director  7633 non-null   object
 8   writer    7630 non-null   object
 9   star      7632 non-null   object
 10  country   7630 non-null   object
 11  budget    5462 non-null   float64
 12  gross     7444 non-null   float64
 13  company   7616 non-null   object
 14  runtime   7629 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 894.6+ KB
None
rotten_tomatoes_movie
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB
None
tgm_bo_summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            1000 non-null   int64
 1   Title           1000 non-null   object
 2   Lifetime Gross  1000 non-null   object
 3   Year            1000 non-null   int64
 4   Movie_ID        1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB
None
tmdb_movie
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
tmds_movies_metadata
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45444 entries, 0 to 45443
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45444 non-null  bool
 1   belongs_to_collection  4483 non-null   object
 2   budget                 45444 non-null  int64
 3   genres                 45444 non-null  object
 4   homepage               7776 non-null   object
 5   id                     45444 non-null  int64
 6   imdb_id                45427 non-null  object
 7   original_language      45433 non-null  object
 8   original_title         45444 non-null  object
 9   overview               44490 non-null  object
 10  popularity             45441 non-null  float64
 11  poster_path            45058 non-null  object
 12  production_companies   45441 non-null  object
 13  production_countries   45441 non-null  object
 14  release_date           45357 non-null  object
 15  revenue                45441 non-null  float64
 16  runtime                45184 non-null  float64
 17  spoken_languages       45441 non-null  object
 18  status                 45360 non-null  object
 19  tagline                20395 non-null  object
 20  title                  45441 non-null  object
 21  video                  45441 non-null  object
 22  vote_average           45441 non-null  float64
 23  vote_count             45441 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(16)
memory usage: 8.0+ MB
None
top_grossing_film
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Release_Type    1000 non-null   object
 1   Movie_Name      1000 non-null   object
 2   Lifetime Gross  1000 non-null   int64
 3   Year            1000 non-null   int64
 4   Release_ID      1000 non-null   object
 5   Movie_ID        1000 non-null   object
 6   file_name       1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB
None
top_movies_data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release Date       3879 non-null   object
 1   Movie Title        3900 non-null   object
 2   Production Budget  3900 non-null   int64
 3   Domestic Gross     3900 non-null   int64
 4   Worldwide Gross    3900 non-null   int64
dtypes: int64(3), object(2)
memory usage: 152.5+ KB
None

The above provides me with an overview of the DFs, I can see all columns within each DF and the data type contained within each column. In building my population, I will require columns containing:
- Film Title
    - For Obvious Reasons
- Release Date or Release Year
    - While having a full release date would be perfect as it would allow analysis by month and even day, I would settle for release year if it means getting a bigger population. 
- Production Costs Amount
    - The entire report hinges on the presence and accuracy of production costs for each film. 

I will start by building this population, extracting each of these columns from the files where all three columns are present, cleanse the data in each new subsetted version of the DF, amend the column headings to ensure they are uniformed in each new DF before stacking them to form a production cost population. I will then repeat the steps for the files containing gross box office figures.

## Analysis of DataFrames:

Excluding the three film rating DFs (imdb_movie_metadata, imdb_top_1000 and rotten_tomatoes_movie) and the DFs which have no production costs or budgets (all_time_worldwide_bo, tgm_bo_summary and top_grossing_film), I am left with the following DFs and the relevent columns:
- blockbuster
    - release_year
    - film_title
    - film_budget
    - length_in_min
        - I am including the length to filter out movies 60 minutes or less where possible
- movie_industry_dataset
    - name
    - year
    - budget
    - runtime
- tmdb_movie
    - budget
    - release_date
    - runtime
    - title
- tmds_movies_metadata
    - budget
    - release_date
    - title
    - runtime
- top_movies_data
    - Release Date
    - Movie Title
    - Production Budget
    
I will use the column names from the blockbuster DF and change the other columns names to match those ones. In addition to the column name changes, the following steps will be taken to cleanse each DF:
- Filter out films 60 minutes and under
- Filter out and rows where the production costs are blanks
- Remove duplicates based one these two criteria in this order:
    - film_title & release_year
    - film_title & film_budget
        - This should remove any potential duplicates where multiple versions of the same title appear but should also retain films with identical titles produced in different years, remakes being a prime example of this. 

The files should be ready to be appended on top of each other at this point.

The next stage will be to pull together the DFs containing the film grossing data which from the loaded DFs will be along with the columns required to join with the production DFs:
- all_time_worldwide_bo
    - Year
    - Movie
    - WorldwideBox Office
- blockbuster
    - release_year 
    - film_title
    - worldwide_gross   
- movie_industry_dataset
    - name
    - year
    - gross
- tgm_bo_summary
    - Title
    - Lifetime Gross
    - Year
- tmdb_movie
    - release_date
    - revenue
    - title                 
- tmds_movies_metadata
    - release_date
    - revenue
    - title
- top_grossing_film
    - Movie_Name
    - Lifetime Gross
    - Year  
- top_movies_data
    - Release Date
    - Movie Title
    - Worldwide Gross

In [222]:
# Before I begin to subset the files, I will cleanse some of the data based on the data type information provided above. I can see that budget columns in the Blockbuster and TMDS DFs are not numeric data types.

# The loop below will print the first two rows of each file to show me potential reasons for the issues with the data types.

for index, row in file_names.iterrows():
    print(row['file'])
    exec('print('+row['file']+'.head(2))')

all_time_worldwide_bo
   Rank  Year              Movie WorldwideBox Office DomesticBox Office  \
0     1  2009             Avatar      $2,845,899,541       $760,507,625
1     2  2019  Avengers: Endgame      $2,797,800,564       $858,373,000

  InternationalBox Office
0          $2,085,391,916
1          $1,939,427,564
blockbuster
   release_year  rank_in_year  imdb_rating mpaa_rating         film_title  \
0          2019             1          8.5       PG-13  Avengers: Endgame
1          2019             2          7.0          PG      The Lion King

   film_budget  length_in_min domestic_distributor worldwide_gross  \
0  356,000,000            181         Walt Disney    2,797,800,564
1  260,000,000            118         Walt Disney    1,656,943,394

  domestic_gross    genre_1    genre_2 genre_3
0    858,373,000     Action  Adventure   Drama
1    543,638,043  Animation  Adventure   Drama
imdb_movie_metadata
   color   director_name  num_critic_for_reviews  duration  \
0  Color   James Cameron                   723.0     178.0
1  Color  Gore Verbinski                   302.0     169.0

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35

  movie_facebook_likes
0                33000
1                    0

[2 rows x 28 columns]
imdb_top_1000
                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...

               Series_Title  Released_Year Certificate  Runtime         Genre  \
0  The Shawshank Redemption           1994           A  142 min         Drama
1             The Godfather           1972           A  175 min  Crime, Drama

   IMDB_Rating                                           Overview  Meta_score  \
0          9.3  Two imprisoned men bond over a number of years...        80.0
1          9.2  An organized crime dynasty's aging patriarch t...       100.0

               Director          Star1           Star2       Star3  \
0        Frank Darabont    Tim Robbins  Morgan Freeman  Bob Gunton
1  Francis Ford Coppola  Marlon Brando       Al Pacino  James Caan

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
movie_industry_dataset
              name rating      genre  year                       released  \
0      The Shining      R      Drama  1980  June 13, 1980 (United States)
1  The Blue Lagoon      R  Adventure  1980   July 2, 1980 (United States)

   score     votes         director                   writer            star  \
0    8.4  927000.0  Stanley Kubrick             Stephen King  Jack Nicholson
1    5.8   65000.0   Randal Kleiser  Henry De Vere Stacpoole  Brooke Shields

          country      budget       gross            company  runtime
0  United Kingdom  19000000.0  46998772.0       Warner Bros.    146.0
1   United States   4500000.0  58853106.0  Columbia Pictures    104.0
rotten_tomatoes_movie
  rotten_tomatoes_link                                        movie_title  \
0            m/0814255  Percy Jackson & the Olympians: The Lightning T...
1            m/0878835                                        Please Give

                                          movie_info  \
0  Always trouble-prone, the life of teenager Per...
1  Kate (Catherine Keener) and her husband Alex (...

                                   critics_consensus content_rating  \
0  Though it may seem like just another Harry Pot...             PG
1  Nicole Holofcener's newest might seem slight i...              R

                                              genres          directors  \
0  Action & Adventure, Comedy, Drama, Science Fic...     Chris Columbus
1                                             Comedy  Nicole Holofcener

                                      authors  \
0  Craig Titley, Chris Columbus, Rick Riordan
1                           Nicole Holofcener

                                              actors original_release_date  \
0  Logan Lerman, Brandon T. Jackson, Alexandra Da...            12/02/2010
1  Catherine Keener, Amanda Peet, Oliver Platt, R...            30/04/2010

   ...      production_company  tomatometer_status tomatometer_rating  \
0  ...        20th Century Fox              Rotten               49.0
1  ...  Sony Pictures Classics     Certified-Fresh               87.0

  tomatometer_count  audience_status  audience_rating audience_count  \
0             149.0          Spilled             53.0       254421.0
1             142.0          Upright             64.0        11574.0

   tomatometer_top_critics_count  tomatometer_fresh_critics_count  \
0                             43                               73
1                             44                              123

   tomatometer_rotten_critics_count
0                                76
1                                19

[2 rows x 22 columns]
tgm_bo_summary
   Rank              Title  Lifetime Gross  Year   Movie_ID
0     1  Avengers: Endgame  $2,797,800,564  2019  tt4154796
1     2             Avatar  $2,790,439,000  2009  tt0499549
tmdb_movie
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...

                                       homepage     id  \
0                   http://www.avatarmovie.com/  19995
1  http://disney.go.com/disneypictures/pirates/    285

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   10/12/2009  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   19/05/2007   961000000

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
tmds_movies_metadata
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1                                   NaN  8844  tt0113497                en

  original_title                                           overview  ...  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...  ...
1        Jumanji  When siblings Judy and Peter discover an encha...  ...

   release_date      revenue runtime  \
0    30/10/1995  373554033.0    81.0
1    15/12/1995  262797249.0   104.0

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released

                                     tagline      title  video vote_average  \
0                                        NaN  Toy Story  False          7.7
1  Roll the dice and unleash the excitement!    Jumanji  False          6.9

  vote_count
0     5415.0
1     2413.0

[2 rows x 24 columns]
top_grossing_film
       Release_Type         Movie_Name  Lifetime Gross  Year    Release_ID  \
0  Original Release  Avengers: Endgame      2797800564  2019  gr3511898629
1  Original Release             Avatar      2790439000  2009  gr3486798341

    Movie_ID                          file_name
0  tt4154796  Collections of Top Grossing Films
1  tt0499549  Collections of Top Grossing Films
top_movies_data
  Release Date Movie Title  Production Budget  Domestic Gross  Worldwide Gross
0   09/09/2009           9           30000000        31749894         48559999
1    3/28/2008          21           35000000        81159365        159846429

In [223]:
# based on the above, the following changes are required for the data to be usable:
# remove commas and currency signs from columns where required
all_time_worldwide_bo['WorldwideBox Office']=all_time_worldwide_bo['WorldwideBox Office'].str.replace(',','')
all_time_worldwide_bo['WorldwideBox Office']=all_time_worldwide_bo['WorldwideBox Office'].str.replace('$','')
blockbuster['film_budget']=blockbuster['film_budget'].str.replace(',','')
blockbuster['worldwide_gross']=blockbuster['worldwide_gross'].str.replace(',','')
tgm_bo_summary['Lifetime Gross']=tgm_bo_summary['Lifetime Gross'].str.replace(',','')
tgm_bo_summary['Lifetime Gross']=tgm_bo_summary['Lifetime Gross'].str.replace('$','')

# change the data types of the columns to a numeric type
all_time_worldwide_bo['WorldwideBox Office'] = pd.to_numeric(all_time_worldwide_bo['WorldwideBox Office'])
blockbuster['film_budget'] = pd.to_numeric(blockbuster['film_budget'])
blockbuster['worldwide_gross'] = pd.to_numeric(blockbuster['worldwide_gross'])
tgm_bo_summary['Lifetime Gross'] = pd.to_numeric(tgm_bo_summary['Lifetime Gross'])
tmds_movies_metadata['budget'] = pd.to_numeric(tmds_movies_metadata['budget'])

In [224]:
# the below info will show the change has taken place for the budget data for both DFs

for index, row in file_names.iterrows():
    print(row['file'])
    exec('print('+row['file']+'.info())')

all_time_worldwide_bo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     595 non-null    int64
 1   Year                     595 non-null    int64
 2   Movie                    595 non-null    object
 3   WorldwideBox Office      595 non-null    int64
 4   DomesticBox Office       588 non-null    object
 5   InternationalBox Office  595 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.0+ KB
None
blockbuster
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   release_year          430 non-null    int64
 1   rank_in_year          430 non-null    int64
 2   imdb_rating           430 non-null    float64
 3   mpaa_rating           429 non-null    object
 4   film_title            430 non-null    object
 5   film_budget           430 non-null    int64
 6   length_in_min         430 non-null    int64
 7   domestic_distributor  430 non-null    object
 8   worldwide_gross       430 non-null    int64
 9   domestic_gross        430 non-null    object
 10  genre_1               430 non-null    object
 11  genre_2               409 non-null    object
 12  genre_3               324 non-null    object
dtypes: float64(1), int64(5), object(7)
memory usage: 43.8+ KB
None
imdb_movie_metadata
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None
imdb_top_1000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   int64
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB
None
movie_industry_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7633 entries, 0 to 7632
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7633 non-null   object
 1   rating    7556 non-null   object
 2   genre     7633 non-null   object
 3   year      7633 non-null   int64
 4   released  7631 non-null   object
 5   score     7630 non-null   float64
 6   votes     7630 non-null   float64
 7   director  7633 non-null   object
 8   writer    7630 non-null   object
 9   star      7632 non-null   object
 10  country   7630 non-null   object
 11  budget    5462 non-null   float64
 12  gross     7444 non-null   float64
 13  company   7616 non-null   object
 14  runtime   7629 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 894.6+ KB
None
rotten_tomatoes_movie
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB
None
tgm_bo_summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            1000 non-null   int64
 1   Title           1000 non-null   object
 2   Lifetime Gross  1000 non-null   int64
 3   Year            1000 non-null   int64
 4   Movie_ID        1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB
None
tmdb_movie
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
tmds_movies_metadata
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45444 entries, 0 to 45443
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45444 non-null  bool
 1   belongs_to_collection  4483 non-null   object
 2   budget                 45444 non-null  int64
 3   genres                 45444 non-null  object
 4   homepage               7776 non-null   object
 5   id                     45444 non-null  int64
 6   imdb_id                45427 non-null  object
 7   original_language      45433 non-null  object
 8   original_title         45444 non-null  object
 9   overview               44490 non-null  object
 10  popularity             45441 non-null  float64
 11  poster_path            45058 non-null  object
 12  production_companies   45441 non-null  object
 13  production_countries   45441 non-null  object
 14  release_date           45357 non-null  object
 15  revenue                45441 non-null  float64
 16  runtime                45184 non-null  float64
 17  spoken_languages       45441 non-null  object
 18  status                 45360 non-null  object
 19  tagline                20395 non-null  object
 20  title                  45441 non-null  object
 21  video                  45441 non-null  object
 22  vote_average           45441 non-null  float64
 23  vote_count             45441 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(16)
memory usage: 8.0+ MB
None
top_grossing_film
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Release_Type    1000 non-null   object
 1   Movie_Name      1000 non-null   object
 2   Lifetime Gross  1000 non-null   int64
 3   Year            1000 non-null   int64
 4   Release_ID      1000 non-null   object
 5   Movie_ID        1000 non-null   object
 6   file_name       1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB
None
top_movies_data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release Date       3879 non-null   object
 1   Movie Title        3900 non-null   object
 2   Production Budget  3900 non-null   int64
 3   Domestic Gross     3900 non-null   int64
 4   Worldwide Gross    3900 non-null   int64
dtypes: int64(3), object(2)
memory usage: 152.5+ KB
None

To uniform the columns, I will rename, where required, to the following:
- release_year (or date)
- film_title
- film_budget
- film_runtime
- film_gross

In [225]:
all_time_worldwide_bo.rename(columns={'Year': 'release_year','Movie': 'film_title', 'WorldwideBox Office': 'film_gross'}, inplace=True)

blockbuster.rename(columns={'length_in_min': 'film_runtime','worldwide_gross': 'film_gross'}, inplace=True)

movie_industry_dataset.rename(columns={'year': 'release_year', 'name': 'film_title',
                                          'budget': 'film_budget', 'runtime': 'film_runtime','gross': 'film_gross'}, inplace=True)

tgm_bo_summary.rename(columns={'Title': 'film_title','Lifetime Gross': 'film_gross', 'Year': 'release_year'}, inplace=True)

tmdb_movie.rename(columns={'title': 'film_title','budget': 'film_budget', 'runtime': 'film_runtime','revenue': 'film_gross'}, inplace=True)

tmds_movies_metadata.rename(columns={'title': 'film_title','budget': 'film_budget', 'runtime': 'film_runtime','revenue': 'film_gross'}, inplace=True)

top_grossing_film.rename(columns={'Year': 'release_year', 'Movie_Name': 'film_title','Lifetime Gross': 'film_gross'}, inplace=True)

top_movies_data.rename(columns={'Release Date': 'release_date', 'Movie Title': 'film_title',
                                          'Production Budget': 'film_budget', 'Worldwide Gross': 'film_gross'}, inplace=True)

In [226]:
tmdb_movie['release_date'] = pd.to_datetime(tmdb_movie['release_date'])
tmds_movies_metadata['release_date'] = pd.to_datetime(tmds_movies_metadata['release_date'])
top_movies_data['release_date'] = pd.to_datetime(top_movies_data['release_date'])

In [227]:
tmdb_movie['release_year'] = pd.DatetimeIndex(tmdb_movie['release_date']).year
tmds_movies_metadata['release_year'] = pd.DatetimeIndex(tmds_movies_metadata['release_date']).year
top_movies_data['release_year'] = pd.DatetimeIndex(top_movies_data['release_date']).year

In [228]:
top_movies_data_PD.head(1)

   release_year release_date film_title  film_budget
0        2009.0   2009-09-09          9     30000000

## Production DF Analysis

Taking a deeper look at the files being used in the production DF and making the required amendments

In [229]:
#Create new DFs with only the columns required
columns_to_subset1 = ['release_year', 'film_title', 'film_budget','film_runtime']
columns_to_subset2 = ['release_year', 'release_date', 'film_title', 'film_budget','film_runtime']
columns_to_subset3 = ['release_year', 'release_date', 'film_title', 'film_budget']
blockbuster_PD = blockbuster[columns_to_subset1]
movie_industry_dataset_PD = movie_industry_dataset[columns_to_subset1]
tmdb_movie_PD = tmdb_movie[columns_to_subset2]
tmds_movies_metadata_PD = tmds_movies_metadata[columns_to_subset2]
top_movies_data_PD = top_movies_data[columns_to_subset3]

In [230]:
production_file_names = pd.DataFrame({'file': ['blockbuster_PD','movie_industry_dataset_PD','tmdb_movie_PD','tmds_movies_metadata_PD',
                                    'top_movies_data_PD']})

In [231]:
for index, row in production_file_names.iterrows():
    print(row['file'])
    exec('print('+row['file']+'.info())')

blockbuster_PD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  430 non-null    int64
 1   film_title    430 non-null    object
 2   film_budget   430 non-null    int64
 3   film_runtime  430 non-null    int64
dtypes: int64(3), object(1)
memory usage: 13.6+ KB
None
movie_industry_dataset_PD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7633 entries, 0 to 7632
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  7633 non-null   int64
 1   film_title    7633 non-null   object
 2   film_budget   5462 non-null   float64
 3   film_runtime  7629 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 238.7+ KB
None
tmdb_movie_PD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  4802 non-null   float64
 1   release_date  4802 non-null   datetime64[ns]
 2   film_title    4803 non-null   object
 3   film_budget   4803 non-null   int64
 4   film_runtime  4801 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 187.7+ KB
None
tmds_movies_metadata_PD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45444 entries, 0 to 45443
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  45357 non-null  float64
 1   release_date  45357 non-null  datetime64[ns]
 2   film_title    45441 non-null  object
 3   film_budget   45444 non-null  int64
 4   film_runtime  45184 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 1.7+ MB
None
top_movies_data_PD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  3879 non-null   float64
 1   release_date  3879 non-null   datetime64[ns]
 2   film_title    3900 non-null   object
 3   film_budget   3900 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 122.0+ KB
None

In [232]:
for index, row in production_file_names.iterrows():
    print(row['file'])
    exec('print('+row['file']+'.head(2))')

blockbuster_PD
   release_year         film_title  film_budget  film_runtime
0          2019  Avengers: Endgame    356000000           181
1          2019      The Lion King    260000000           118
movie_industry_dataset_PD
   release_year       film_title  film_budget  film_runtime
0          1980      The Shining   19000000.0         146.0
1          1980  The Blue Lagoon    4500000.0         104.0
tmdb_movie_PD
   release_year release_date                                film_title  \
0        2009.0   2009-10-12                                    Avatar
1        2007.0   2007-05-19  Pirates of the Caribbean: At World's End

   film_budget  film_runtime
0    237000000         162.0
1    300000000         169.0
tmds_movies_metadata_PD
   release_year release_date film_title  film_budget  film_runtime
0        1995.0   1995-10-30  Toy Story     30000000          81.0
1        1995.0   1995-12-15    Jumanji     65000000         104.0
top_movies_data_PD
   release_year release_date film_title  film_budget
0        2009.0   2009-09-09          9     30000000
1        2008.0   2008-03-28         21     35000000